<template>
    <div class="cocktails-list">
        <div class="container">
            <div 
                v-for="(row, index) in rowCount"
                :key="`row${index}`"
                class="row"
            >
                <CocktailPreview
                    v-for="cocktail in cocktailRange(index)"
                    :key="cocktail.idDrink"
                    :cocktail="cocktail"
                    @selected="$emit('selected', cocktail)"
                />
            </div>
        </div>
    </div>
</template>

<script>
import CocktailPreview from './CocktailPreview.vue';

export default {
    components: {
        CocktailPreview,
    },

    props: {
        cocktails: {
            type: Array,
            required: true
        },
    },

    computed: {
        // Each row show a max of 4 cocktails
        // Create dynamically number of row we need for showing
        // cocktails we received from props
        rowCount() {
            return Math.ceil(this.cocktails.length / 4);
        }
    },

    methods: {
        // Each row(index represent the current row we are) shows specific 
        // range of cocktails in cocktails array
        cocktailRange(index) {
            let start = 4 * index;
            let end = start + 4;
            return this.cocktails.slice(start, end);
        }
    }
}
</script>