<template>
    <div class="cocktail-preview col-md-3">
        <div
            class="col cocktail-selection "
            @click="$emit('selected', cocktail)"
        >
            <img
                :src="cocktail.strDrinkThumb"
                width="200px"
            >
            <div class="cocktail-name">
                <label>{{ cocktail.strDrink }}</label>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cocktail: {
            type: Object,
            required: true,
        }
    }
}
</script>

<style lang="scss" scoped>
.cocktail-preview {
    .cocktail-selection {
        &:hover {
            cursor: pointer;
        }
    }

    .cocktail-name label{
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
</style>