<template>
    <div class="seletec-cocktail">
        <template v-if="selectedCocktail">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img
                            :src="selectedCocktail.strDrinkThumb"
                            width="200px"
                            height="200px"
                        >
                    </div>
                    <div>
                        <label>
                            {{ selectedCocktail.strDrink }}
                        </label>
                    </div>
                    <button
                        class="btn btn-primary search-button"
                    >
                        <router-link to="/">
                            New search
                        </router-link>
                    </button>
                </div>
                <div class="col-md-8">
                    <div class="text-left mb-4">
                        <h2>What you need</h2>
                        <p
                            v-for="( ing, index) in ingredients"
                            :key="`ing${index}`"
                        >
                            {{ index + 1}} - {{ ing }}
                        </p>
                    </div>
                    <div class="text-left">
                        <h2>Step by step</h2>
                            <p
                                v-for="(ins, index) in instructions"
                                :key="`ins${index}`"
                            >
                                {{ index + 1 }} - {{ ins }}
                            </p>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div
                class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </template>
    </div>
</template>

<script>
import CocktailService from '../services/CocktailService'

export default {
    data() {
        return {
            selectedCocktail: null,
        }
    },

    mounted() {
        if (this.$route.params.drinkId) {
            CocktailService.getById(this.$route.params.drinkId).then((res) => {
                this.selectedCocktail = res.body.drinks[0];
            })
        }
    },

    computed: {
        instructions() {
            return this.selectedCocktail.strInstructions.split('.').filter(e => e !== '')
        },

        ingredients() {
            let stepByStep = [];
            for (let i = 1; i <= 15; i++) {
                if(this.selectedCocktail[`strIngredient${i}`] && this.selectedCocktail[`strMeasure${i}`]) {
                    stepByStep.push(this.selectedCocktail[`strMeasure${i}`] + '' + this.selectedCocktail[`strIngredient${i}`])
                } else {
                    break;
                }
            }

            return stepByStep;
        }
    }
}
</script>

<style lang="scss" scoped>
.search-button {
    a {
        color: white;
    }
}
</style>