<template>
    <div class="navbar">
        <nav class="navbar">
            <router-link to="/">
                <h1
                class="navbar-brand mb-0 navbar-title"
                >COCKTAIL SEARCH ENGINE</h1>
            </router-link>
        </nav>
    </div>
</template>