@import '~bootstrap/scss/bootstrap';

body {
    height: 100%;
    background-color: rgb(120, 3, 15);
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #9ca0a5;
}

.row {
    margin: 0 !important;
}

a {
    color: #9ca0a5;
}